* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: rgb(26, 94, 120);
    font-family: sans-serif;
}

.sr-only {
    display: none;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    background-color: rgb(37, 39, 40);
    box-shadow: 0 10px 30px rgba(37, 37, 37, 0.95);
}

.screen {
    background-color: rgb(78, 78, 78);
    box-shadow: inset 0 0 10px rgb(37, 37, 37);
    border-radius: 10px;
    width: 100%;
    text-align: end;
    padding: 0.5rem;
    min-height: 5rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.prev-operand {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.current-operand {
    font-size: 1.5rem;
}

.btn {
    width: 60px;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    outline: none;
    color: white;
    border: 0px;
    background-color: rgba(255, 255 ,255, 0.05);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    gap: 0.65rem;
}

#equal-btn {
    flex-grow: 1;
}